{%extends 'base.html' %}
{%load static%}

{% block content%}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title"> Patients Registration Form</h2>
                <form method="POST">
                    {%csrf_token%}
                    <div class="row row-space">
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">first name</label>
                                {{form.name}}
                            </div>
                        </div>
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">last name</label>
                                {{form.last_name}}
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">Birthday</label>
                                <div class="input-group-icon">
                                    {{form.birth}}
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">Gender</label>
                               
                                    {{form.gender}}
                            
                                
                               
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">Email</label>
                                {{form.email}}
                            </div>
                        </div>
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                {{form.phone}}
                            </div>
                        </div>
                    </div>
                   
                    <div class="row row-space">
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">password</label>
                                {{form.password1}}
                            </div>
                        </div>
                        <div class="col-22">
                            <div class="input-group">
                                <label class="label">confirm password</label>
                                {{form.password2}}
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label">Hosital</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            {{form.whichDoc}}
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock%}