{%extends 'base.html'%}
{%block content%}
<div class='container justify-content-center'>
 


  <div class="jumbotron text-primary">
    <div class="row justify-content-between">
      <h1 class="display-4">{{user.name}}</h1>
      <h3 class="display-5">Global Identification Number <br> <span class="lead align-middle">{{user.GIN}}</span></h3>
      
      
    </div>
    
    
    <hr class="my-4">
  
  </div>
</div>

<div class='container' >
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">DOCTORS <br><small class='text-muted'>at {{user.name}} </small></h5>
          <h1 class="card-text ">{{totalDocs}}</h1>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
   
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">PATIENTS <br><small class='text-muted'>at {{user.name}} </small></h5>
          <p class="card-text">{{totalPats}}</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
<table class="table table-striped">

  <thead>
    <tr class="jumbotron">
      <th>DOCTORS LIST</th>
    </tr>
    <tr>
      <th scope="col">no.</th>
      <th scope="col">NAME</th>
      <th scope="col">GENDER</th>
      <th scope="col">PHONE</th>
      <th scope='col'> EMAIL</th>
      <th scope='col'>PATIENTS</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in docs%}
    <tr>
      <th scope="row">{{forloop.counter}}

      </th>
      <td>{{doc.name}} {{doc.last_name}}</td>
      <td>{{doc.gender}}</td>
      <td>{{doc.phone}}</td>
      <td>{{doc.email}}</td>
    </tr>
    {% endfor%}
  </tbody>
</table>
</div>


{%endblock%}